{
  "plugins": [
    "@babel/plugin-transform-runtime",
    ["import", {"libraryName": "antd", "style": true}]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        }
      }
    ],
    "@babel/preset-react"
  ]
}
