.MuiBackdrop-root {
  z-index: 999;
  &.white {
    background-color: rgba(255, 255, 255, 0.5);
  }

  .MuiCircularProgress-root {
    .MuiCircularProgress-svg {
      color: $primary-color;
    }
  }
}
