.form {
  width: 100%;
  .field-container {
    padding-top: 12px !important;

    > * {
      margin-top: 0;
    }

    .form-control {
      margin-top: 0;
    }
  }
}

textarea {
  resize: none;
}
