.MuiMenu-root {
  .MuiMenu-paper {
    z-index: 1000;
    .MuiMenu-list {
      .MuiMenuItem-root {
        .MuiBox-root {
          > img.icon-select {
            width: 16px;
          }
        }
      }
    }
  }
}

.MuiSelect-select {
  .MuiBox-root {
    > img.icon-select {
      width: 16px;
    }
  }
}

.MuiAutocomplete-root {
  &.form-control {
    .MuiAutocomplete-endAdornment {
      .MuiAutocomplete-clearIndicator {
        > svg {
          font-size: 16px;
        }
      }
    }
  }
}
