// Export the color palette to make it accessible to JS
:export {
  primaryColor: $primary-color;
  secondaryColor: $secondary-color;
  breakpointsXs: $breakpoints-xs;
  breakpointsSm: $breakpoints-sm;
  breakpointsMd: $breakpoints-md;
  breakpointsLg: $breakpoints-lg;
  breakpointsXl: $breakpoints-xl;
  breakpointsMobile: $breakpoints-mobile;
  breakpointsTablet: $breakpoints-tablet;
  breakpointsLaptop: $breakpoints-laptop;
  breakpointsDesktop:$breakpoints-desktop;
}
