.avatar-container {
  &.svg {
    .MuiAvatar-circular {
      background-color: transparent;
    }
  }
  img {
    width: 100px;
    height: 100px;
  }

  svg {
    font-size: 90px;
  }

  .MuiButton-contained {
    text-align: center;
  }
}

.form {
  &.account-detail-infos {
    .btn-actions {
      margin-top: 16px;
    }
  }
}
