.MuiOutlinedInput-root {
  .MuiInputAdornment-root {
    .MuiIconButton-root {
      width: 24px;
      height: 24px;
      margin-right: -8px;

      svg {
        font-size: $font-size;
      }
    }
  }
}
