/* Define all colours */
// paper & background
$paper: #ffffff;

// primary
$primaryLight: #ede7f6;
$primaryMain: #673ab7;
$primaryDark: #5e35b1;
$primary200: #b39ddb;
$primary800: #4527a0;

// secondary
$secondaryLight: #eef2f6;
$secondaryMain: #3f51b5;
$secondaryDark: #2f3f98;
$secondary200: #90caf9;
$secondary800: #243595;

// success Colors
$successLight: #b9f6ca;
$success200: #69f0ae;
$successMain: #00e676;
$successDark: #00c853;

// error
$errorLight: #ef9a9a;
$errorMain: #f44336;
$errorDark: #c62828;

// orange
$orangeLight: #fbe9e7;
$orangeMain: #ffab91;
$orangeDark: #d84315;

// warning
$warningLight: #fff8e1;
$warningMain: #ffe57f;
$warningDark: #ffc107;

// grey
$grey50: #f8fafc;
$grey100: #eef2f6;
$grey200: #e3e8ef;
$grey300: #cdd5df;
$grey500: #697586;
$grey600: #4b5565;
$grey700: #364152;
$grey900: #121926;

// ==============================|| DARK THEME VARIANTS ||============================== //

// paper & background
$darkBackground: #1a223f; // level 3
$darkPaper: #111936; // level 4

// dark 800 & 900
$darkLevel1: #29314f; // level 1
$darkLevel2: #212946; // level 2

// primary dark
$darkPrimaryLight: #d1c4e9;
$darkPrimaryMain: #7c4dff;
$darkPrimaryDark: #651fff;
$darkPrimary200: #b39ddb;
$darkPrimary800: #6200ea;

// secondary dark
$darkSecondaryLight: #eef2f6;
$darkSecondaryMain: #2196f3;
$darkSecondaryDark: #1e88e5;
$darkSecondary200: #90caf9;
$darkSecondary800: #1565c0;

// text variants
$darkTextTitle: #d7dcec;
$darkTextPrimary: #8492c4;
$darkTextSecondary: #bdc8f0;

// ==============================|| MY COLOR DEFINE ||============================== //
$font-family: Roboto, Helvetica, Arial, sans-serif;
$font-size: 16px;
$primary-color: $primaryMain;
$secondary-color: $secondaryMain;
$text-color: $grey900;
$container-background-color: #f7f8fa;
$disabled-background: #f5f5f5;
$spin-color: #999;

// breakpoint in mui-ui
$breakpoints-xs: "0";
$breakpoints-sm: "600px";
$breakpoints-md: "900px";
$breakpoints-lg: "1200px";
$breakpoints-xl: "1536px";
$breakpoints-mobile: "0";
$breakpoints-tablet: "640px";
$breakpoints-laptop: "1024px";
$breakpoints-desktop: "1200px";

// @screen-xxs-min: 320px;
// @screen-xs-min: 480px;
// @screen-sm-min: 768px;
// @screen-md-min: 992px;
// @screen-lg-min: 1200px;

// @screen-xxs-max: (@screen-xxs-min - 1);
// @screen-xs-max: (@screen-sm-min - 1);
// @screen-sm-max: (@screen-md-min - 1);
// @screen-md-max: (@screen-lg-min - 1);

// @mobile: ~"only screen and (max-width: @{screen-xxs-min})"; // 320
// @phone: ~"only screen and (max-width: @{screen-xs-min})"; // 480
// @phone-strict: ~"only screen and (min-width: @{screen-xs-min}) and (max-width: @{screen-xs-max})"; // min: 480, max: 767
// @breakpoint-xs: ~"only screen and (max-width: @{screen-xs-max})"; // 768
// @tablet: ~"only screen and (min-width: @{screen-sm-min})"; // 768
// @tablet-strict: ~"only screen and (min-width: @{screen-sm-min}) and (max-width: @{screen-sm-max})"; // min: 767, max: 991
// @desktop: ~"only screen and (min-width: @{screen-md-min})"; // 992
// @desktop-strict: ~"only screen and (min-width: @{screen-md-min}) and (max-width: @{screen-md-max})"; // min: 992, max: 1199
// @large: ~"only screen and (min-width: @{screen-lg-min})"; // 1200
