/* Define all colours */
// my color define
$font-family: Roboto, Helvetica, Arial, sans-serif;
$font-size: 16px;
$primary-color: #00aa0a;
$secondary-color: #E5681A;
$container-background-color: #f7f8fa;
$disabled-background: #f5f5f5;
$spin-color: #999;

// breakpoint in mui-ui
$breakpoints-xs: "0";
$breakpoints-sm: "600px";
$breakpoints-md: "900px";
$breakpoints-lg: "1200px";
$breakpoints-xl: "1536px";
$breakpoints-mobile: "0";
$breakpoints-tablet: "640px";
$breakpoints-laptop: "1024px";
$breakpoints-desktop: "1200px";

// @screen-xxs-min: 320px;
// @screen-xs-min: 480px;
// @screen-sm-min: 768px;
// @screen-md-min: 992px;
// @screen-lg-min: 1200px;

// @screen-xxs-max: (@screen-xxs-min - 1);
// @screen-xs-max: (@screen-sm-min - 1);
// @screen-sm-max: (@screen-md-min - 1);
// @screen-md-max: (@screen-lg-min - 1);

// @mobile: ~"only screen and (max-width: @{screen-xxs-min})"; // 320
// @phone: ~"only screen and (max-width: @{screen-xs-min})"; // 480
// @phone-strict: ~"only screen and (min-width: @{screen-xs-min}) and (max-width: @{screen-xs-max})"; // min: 480, max: 767
// @breakpoint-xs: ~"only screen and (max-width: @{screen-xs-max})"; // 768
// @tablet: ~"only screen and (min-width: @{screen-sm-min})"; // 768
// @tablet-strict: ~"only screen and (min-width: @{screen-sm-min}) and (max-width: @{screen-sm-max})"; // min: 767, max: 991
// @desktop: ~"only screen and (min-width: @{screen-md-min})"; // 992
// @desktop-strict: ~"only screen and (min-width: @{screen-md-min}) and (max-width: @{screen-md-max})"; // min: 992, max: 1199
// @large: ~"only screen and (min-width: @{screen-lg-min})"; // 1200
